body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210323/pngtree-abstract-simple-asymmetry-white-cv-image_591331.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  
  }